{% extends 'logged.html.twig' %}

{% block title %}Захоронения{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="mb-2 mb-lg-2">
    <p class="pt-2 fs-5 fw-bold text-success">Захоронения</p>

    <div class="d-flex pb-2">
      <div class="flex-grow-1">
        <button class="btn btn-outline-primary btn-sm" type="button">Создать</button>
        <button class="btn btn-outline-primary btn-sm disabled" type="button">Создать группу</button>
        <button class="btn btn-outline-primary btn-sm disabled" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
            <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z"/>
            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
          </svg>
        </button>
        <button class="btn btn-outline-primary btn-sm disabled" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
            <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
            <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
          </svg>
          Групповая печать копщику
        </button>
      </div>

      <form class="burial-search col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
      </form>
      <div class="text-end">
        <div class="btn dropdown">
          <a class="dropdown-toggle text-decoration-none" href="#" id="dropdownMore" data-bs-toggle="dropdown" aria-expanded="false">Еще</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMore">
            <li><a class="dropdown-item disabled" href="#">Пункт 1</a></li>
            <li><a class="dropdown-item disabled" href="#">Пункт 2</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-sm table-hover caption-top">
        <thead class="table-light align-middle">
          <tr>
            <th>Ф.И.О.</th>
            <th>Код</th>
            <th>Дата рождения</th>
            <th>Дата смерти</th>
            <th>Дата захоронения</th>
            <th>Возраст</th>
            <th>Место захоронения</th>
            <th>Заказчик</th>
            <th>Адрес заказчика</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Громов Никифор Рудольфович</td>
            <td>000000001</td>
            <td>28.01.1915</td>
            <td>23.11.2003</td>
            <td>24.11.2003</td>
            <td>88</td>
            <td>квартал 1, ряд 1</td>
            <td>Жданова Инга Григорьевна</td>
            <td>Новосибирск, ул. Немировича-Данченко, д. 18, кв. 171</td>
          </tr>
          <tr>
            <td>Беляев Мечеслав Федорович</td>
            <td>000000002</td>
            <td>24.11.1915</td>
            <td>06.11.2005</td>
            <td>07.11.2005</td>
            <td>89</td>
            <td>колумбарий 1, ряд 3, ниша 15</td>
            <td>Дроздова Жаклин Игоревна</td>
            <td>с. Каменка, д. 14</td>
          </tr>
          <tr>
            <td>Юдин Гарри Иванович</td>
            <td>000000003</td>
            <td>15.05.1945</td>
            <td>06.11.2021</td>
            <td>08.11.2021</td>
            <td>76</td>
            <td>сосна 14</td>
            <td>Гришина Устинья Ярославовна</td>
            <td>Новосибирск, ул. Ленина, д. 1, кв. 2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
