<div class="row pb-3">
  <div class="col-12">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="customerType" id="customerTypeNaturalPerson" value="NATURAL_PERSON">
      <label class="form-check-label" for="customerTypeNaturalPerson">
        {{ constant('Cemetery\\Registrar\\Domain\\NaturalPerson\\NaturalPerson::CLASS_LABEL')|ucfirst }}
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="customerType" id="customerTypeJuristicPerson" value="JURISTIC_PERSON" checked>
      <label class="form-check-label" for="customerTypeJuristicPerson">
        {{ constant('Cemetery\\Registrar\\Domain\\Organization\\JuristicPerson\\JuristicPerson::CLASS_LABEL')|ucfirst }}
      </label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="customerType" id="customerTypeSoleProprietor" value="SOLE_PROPRIETOR">
      <label class="form-check-label" for="customerTypeSoleProprietor">
        {{ constant('Cemetery\\Registrar\\Domain\\Organization\\SoleProprietor\\SoleProprietor::CLASS_LABEL')|ucfirst }}
      </label>
    </div>
  </div>
</div>
