{% extends 'logged.html.twig' %}

{% block title %}Захоронения{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="mb-2 mb-lg-2">
    <p class="pt-2 fs-5 fw-bold text-success">Захоронения</p>

    {% include 'burial/_toolbar.html.twig' %}

    <div class="table-responsive">
      <table class="table table-sm table-hover caption-top">
        <thead class="table-light align-middle">
          <tr>
            <th>Ф.И.О.</th>
            <th>Код</th>
            <th>Дата рождения</th>
            <th>Дата смерти</th>
            <th>Дата захоронения</th>
            <th>Возраст</th>
            <th>Место захоронения</th>
            <th>Заказчик</th>
            <th>Адрес заказчика</th>
            <th>Телефон заказчика</th>
          </tr>
        </thead>
        <tbody>
          {% for burialViewListItem in burialViewList.burialViewListItems %}
            {% include 'burial/_burial_view_list_item.html.twig' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <p class="text-end">Всего: {{ burialTotalCount }} захоронений</p>

  {% include 'burial/_modal_burial_new.html.twig' %}
  {% include 'burial/_modal_burial_edit.html.twig' %}

{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  <link href="/css/burial-form.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="/js/burial-form.js"></script>
  <script src="/js/burial-edit.js"></script>
{% endblock %}