<div class="d-flex pb-2">
  <div class="flex-grow-1">
    <button type="button" class="btn btn-outline-primary btn-sm disabled" data-bs-toggle="modal" data-bs-target="#createOrganizationModal" aria-label="Создать">Создать</button>
    <button type="button" class="btn btn-outline-primary btn-sm disabled" aria-label="Скопировать"><i class="bi-file-earmark-plus"></i></button>
  </div>
</div>
