{% extends 'base.html.twig' %}

{% block title %}Админка - Организации{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="mb-2 mb-lg-2">
    <p class="pt-2 fs-5 fw-bold text-success">Организации <span class="text-muted fw-normal fs-6">({{ totalCount }})</span></p>

    {% include 'admin/organization/_toolbar_organization.html.twig' %}

    <div class="table-responsive">
      <table class="table table-sm table-hover caption-top">
        <thead class="table-light align-middle">
          <tr>
            <th>Наименование</th>
            <th>Тип</th>
            <th>ИНН/КПП</th>
            <th>ОГРН(ИП)</th>
            <th>ОКПО</th>
            <th>ОКВЭД</th>
            <th>Адрес</th>
            <th>Банковские реквизиты</th>
            <th>Телефон/факс</th>
            <th>Гендиректор</th>
            <th>Эл. почта, веб-сайт</th>
          </tr>
        </thead>
        <tbody>
          {% for listItem in list.items %}
            {% include 'admin/organization/_list_item_organization.html.twig' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{#  {% include 'admin/organization/_form_organization.html.twig' with {'context': 'Organization'} %}#}

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="/js/organization.js"></script>
{% endblock %}
