.gitattributes
.gitignore

# Tests
/tests export-ignore
/phpunit.xml.dist export-ignore
.env.test export-ignore

# Docker
/docker export-ignore
docker-compose.yml export-ignore
Makefile export-ignore
