.container {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-top: none;
}

.card {
    border: none;
}

label {
    font-size: 14px;
}

.modal-burial-customer-tab-header {
    font-weight: 500;
}
