<div class="container">
  <div class="row pt-3 text-end">
    <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
      <div class="order-2 order-sm-2">
        <button type="button" class="btn btn-warning btn-sm js-save-and-close" aria-label="Записать и закрыть">Записать и закрыть</button>
      </div>
      <div class="order-1 order-sm-3">
        <button type="button" class="btn btn-secondary btn-sm js-close" aria-label="Закрыть">Закрыть</button>
      </div>
    </div>
  </div>
</div>
