{% set currentRoute = app.request.get('_route') %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Навигационное меню">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="{{ path('home') }}">Регистратор</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Раскрыть/скрыть навигационное меню">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if currentRoute starts with 'admin' %}
          {% include '_navbar_admin.html.twig' %}
        {% else %}
          {% include '_navbar_regular.html.twig' %}
        {% endif %}
      </ul>
      <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/default-user-avatar.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser">
            <li><a class="dropdown-item disabled" href="#">Настройки</a></li>
            <li><a class="dropdown-item disabled" href="#">Профиль</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_dashboard') }}">Админка</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Выйти</a></li>
          </ul>
        </div>
    </div>
  </div>
</nav>
