{% set currentRoute = app.request.get('_route') %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="{{ path('home_index') }}">Регистратор</a>
    <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsDefault">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {# Regular navbar #}
        {% if 'admin' not in currentRoute %}
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="#">Заказ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if currentRoute == 'burial_index' %}active{% endif %}"
               href="{{ path('burial_index') }}">Захоронения</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Справка</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownReports" data-bs-toggle="dropdown" aria-expanded="false">Отчеты</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownReports">
              <li><a class="dropdown-item disabled" href="#">Отчеты по похоронным фирмам</a></li>
              <li><a class="dropdown-item disabled" href="#">Список захоронений</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle disabled" href="#" id="dropdownService" data-bs-toggle="dropdown" aria-expanded="false">Сервис</a>
          </li>
        {% else %}
          {# Admin navbar #}
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Номенклатура</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Организации</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if currentRoute == 'admin_funeral_company_index' %}active{% endif %}"
               href="{{ path('admin_funeral_company_index') }}">Похоронные фирмы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Причины смерти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Типы цен</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Установка цен номенклатуры</a>
          </li>
        {% endif %}
      </ul>
      <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/default-user-avatar.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small" aria-labelledby="dropdownUser">
            <li><a class="dropdown-item disabled" href="#">Настройки</a></li>
            <li><a class="dropdown-item disabled" href="#">Профиль</a></li>
            <li><a class="dropdown-item" href="{{ path('admin_dashboard_index') }}">Админка</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Выйти</a></li>
          </ul>
        </div>
    </div>
  </div>
</nav>
