<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico">

    <link href="/css/libs/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/libs/bootstrap/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/css/offcanvas.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet">
    <link href="/css/libs/selectize/standalone/selectize.css" rel="stylesheet">
    <link href="/css/libs/selectize/standalone/selectize.bootstrap5.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="spinner-container"></div>
    {% include '_flash_message.html.twig' %}
    <main class="container-fluid no-select">
      {% block header %}
        {% include '_navbar.html.twig' %}
      {% endblock %}
      {% block body %}{% endblock %}
    </main>

    <script src="/js/libs/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/libs/jquery/jquery-3.6.0.min.js"></script>
    <script src="/js/offcanvas.js"></script>
    <script src="/js/libs/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/js/libs/selectize/standalone/selectize.min.js"></script>

    <script src="/js/Spinner.js"></script>
    <script src="/js/Modal.js"></script>
    <script src="/js/CardButtons.js"></script>
    <script src="/js/AppServiceFailureHandler.js"></script>

    <script src="/js/main.js"></script>
    {% block javascripts %}{% endblock %}
  </body>
</html>
