<div class="row">
  <div class="col-6 row">
    <div class="col-md-3"><label for="naturalPersonPassportSeries" class="form-label">Серия</label></div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm"
             id="naturalPersonPassportSeries" name="naturalPersonPassportSeries"
             aria-describedby="naturalPersonPassportSeriesFeedback"
             aria-label="Серия паспорта">
      <div id="naturalPersonPassportSeriesFeedback" class="invalid-feedback d-none"></div>
    </div>
  </div>
  <div class="col-6 row">
    <div class="col-md-3"><label for="naturalPersonPassportNumber" class="form-label">Номер</label></div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm"
             id="naturalPersonPassportNumber" name="naturalPersonPassportNumber"
             aria-describedby="naturalPersonPassportNumberFeedback"
             aria-label="Номер паспорта">
      <div id="naturalPersonPassportNumberFeedback" class="invalid-feedback d-none"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonPassportIssuedAt" class="form-label">Дата выдачи</label></div>
  <div class="col-md-9">
    <input type="date" class="form-control form-control-sm"
           id="naturalPersonPassportIssuedAt" name="naturalPersonPassportIssuedAt"
           aria-describedby="naturalPersonPassportIssuedAtFeedback"
           aria-label="Дата выдачи паспорта">
    <div id="naturalPersonPassportIssuedAtFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonPassportIssuedBy" class="form-label">Кем выдан</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="naturalPersonPassportIssuedBy" name="naturalPersonPassportIssuedBy"
           aria-describedby="naturalPersonPassportIssuedByFeedback"
           aria-label="Кем выдан паспорт">
    <div id="naturalPersonPassportIssuedByFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonPassportDivisionCode" class="form-label">Код подразделения</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="naturalPersonPassportDivisionCode" name="naturalPersonPassportDivisionCode"
           aria-describedby="naturalPersonPassportDivisionCodeFeedback"
           aria-label="Код подразделения">
    <div id="naturalPersonPassportDivisionCodeFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
