<div class="row">
    <div class="col-md-3"><label for="passportSeries" class="form-label">Серия</label></div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm"
             id="passportSeries" name="passportSeries"
             aria-describedby="passportSeriesFeedback"
             aria-label="Серия паспорта">
      <div id="passportSeriesFeedback" class="invalid-feedback d-none"></div>
    </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="passportNumber" class="form-label">Номер</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="passportNumber" name="passportNumber"
           aria-describedby="passportNumberFeedback"
           aria-label="Номер паспорта">
    <div id="passportNumberFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="passportIssuedAt" class="form-label">Дата выдачи</label></div>
  <div class="col-md-9">
    <input type="date" class="form-control form-control-sm"
           id="passportIssuedAt" name="passportIssuedAt"
           aria-describedby="passportIssuedAtFeedback"
           aria-label="Дата выдачи паспорта">
    <div id="passportIssuedAtFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="passportIssuedBy" class="form-label">Кем выдан</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="passportIssuedBy" name="passportIssuedBy"
           aria-describedby="passportIssuedByFeedback"
           aria-label="Кем выдан паспорт">
    <div id="passportIssuedByFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="passportDivisionCode" class="form-label">Код подразделения</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="passportDivisionCode" name="passportDivisionCode"
           aria-describedby="passportDivisionCodeFeedback"
           aria-label="Код подразделения">
    <div id="passportDivisionCodeFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
