<div class="row">
  <div class="col-md-3"><label for="bornAt" class="form-label">Дата рождения</label></div>
  <div class="col-md-9">
    <input type="date" class="form-control form-control-sm"
           id="bornAt" name="bornAt"
           aria-describedby="bornAtFeedback"
           aria-label="Дата рождения">
    <div id="bornAtFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="placeOfBirth" class="form-label">Место рождения</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="placeOfBirth" name="placeOfBirth"
           aria-describedby="placeOfBirthFeedback"
           aria-label="Место рождения">
    <div id="placeOfBirthFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
