<div class="row">
    <div class="col-md-3"><label for="deathCertificateSeries" class="form-label">Серия</label></div>
    <div class="col-md-9">
      <input type="text" class="form-control form-control-sm"
             id="deathCertificateSeries" name="deathCertificateSeries"
             aria-describedby="deathCertificateSeriesFeedback"
             aria-label="Серия свидетельства о смерти">
      <div id="deathCertificateSeriesFeedback" class="invalid-feedback d-none"></div>
    </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="deathCertificateNumber" class="form-label">Номер</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="deathCertificateNumber" name="deathCertificateNumber"
           aria-describedby="deathCertificateNumberFeedback"
           aria-label="Номер свидетельства о смерти">
    <div id="deathCertificateNumberFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="deathCertificateIssuedAt" class="form-label">Дата выдачи</label></div>
  <div class="col-md-9">
    <input type="date" class="form-control form-control-sm"
           id="deathCertificateIssuedAt" name="deathCertificateIssuedAt"
           aria-describedby="deathCertificateIssuedAtFeedback"
           aria-label="Дата выдачи свидетельства о смерти">
    <div id="deathCertificateIssuedAtFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
