<div class="row">
  <div class="col-md-3"><label for="diedAt" class="form-label">Дата смерти</label></div>
  <div class="col-md-9">
    <input type="date" class="form-control form-control-sm"
           id="diedAt" name="diedAt"
           aria-describedby="diedAtFeedback"
           aria-label="Дата смерти">
    <div id="diedAtFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="age" class="form-label">Возраст</label></div>
  <div class="col-md-9">
    <input type="number" min="0" class="form-control form-control-sm"
           id="age" name="age"
           aria-describedby="ageFeedback"
           aria-label="Возраст">
    <div id="ageFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="causeOfDeathId" class="form-label">Причина смерти</label></div>
  <div class="col-md-9">
    <select class="form-select form-select-sm"
            id="causeOfDeathId" name="causeOfDeathId"
            aria-describedby="causeOfDeathIdFeedback"
            aria-label="Причина смерти">
      <option selected></option>
{#      {% for listItem in causeOfDeathList.items %}#}
{#        <option value="{{- listItem.id -}}">#}
{#          {{- listItem.name -}}#}
{#        </option>#}
{#      {% endfor %}#}
    </select>
    <div id="causeOfDeathIdFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<hr>
<p class="my-1">Свидетельство о смерти:</p>
{% include('natural_person/_form_natural_person_death_certificate.html.twig') %}
<hr>
<p class="my-1">Справка о кремации:</p>
{% include('natural_person/_form_natural_person_cremation_certificate.html.twig') %}
