<div class="row">
  <div class="col-md-3"><label for="naturalPersonFullName" class="form-label">ФИО</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="naturalPersonFullName" name="naturalPersonFullName"
           aria-describedby="naturalPersonFullNameFeedback"
           aria-label="ФИО">
    <div id="naturalPersonFullNameFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
