<div class="row">
  <div class="col-md-3"><label for="phone" class="form-label">Телефон</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="phone" name="phone"
           aria-describedby="phoneFeedback"
           aria-label="Телефон">
    <div id="phoneFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="phoneAdditional" class="form-label">Доп. телефон</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="phoneAdditional" name="phoneAdditional"
           aria-describedby="phoneAdditionalFeedback"
           aria-label="Дополнительный телефон">
    <div id="phoneAdditionalFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="address" class="form-label">Адрес</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="address" name="address"
           aria-describedby="addressFeedback"
           aria-label="Адрес">
    <div id="addressFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="email" class="form-label">Эл. почта</label></div>
  <div class="col-md-9">
    <input type="email" class="form-control form-control-sm"
           id="email" name="email"
           aria-describedby="emailFeedback"
           aria-label="Электронная почта">
    <div id="emailFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
