{% extends '_modal.html.twig' %}

{% block modalbody %}
  <form
      data-action-clarify-deceased-details="{{ path('natural_person_clarify_deceased_details', {'id': '{id}'})|url_decode }}">
    <div class="container">
      {% include('natural_person/_form_natural_person_deceased_details.html.twig') %}
    </div>
    <input type="hidden" id="token"  name="token" value="{{ csrf_token('natural_person') }}">
    <input type="hidden" id="bornAt" name="bornAt">
    {% include '_form_buttons.html.twig' %}
  </form>
{% endblock %}
