<div class="row">
  <div class="col-md-3"><label for="cremationCertificateNumber" class="form-label">Номер</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="cremationCertificateNumber" name="cremationCertificateNumber"
           aria-describedby="cremationCertificateNumberFeedback"
           aria-label="Номер справки о кремации">
    <div id="cremationCertificateNumberFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="cremationCertificateIssuedAt" class="form-label">Дата выдачи</label></div>
  <div class="col-md-9">
    <input type="date" class="form-control form-control-sm"
           id="cremationCertificateIssuedAt" name="cremationCertificateIssuedAt"
           aria-describedby="cremationCertificateIssuedAtFeedback"
           aria-label="Дата выдачи справки о кремации">
    <div id="cremationCertificateIssuedAtFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
