<div class="row">
  <div class="col-md-3"><label for="naturalPersonBornAt" class="form-label">Дата рождения</label></div>
  <div class="col-md-9">
    <input type="date" class="form-control form-control-sm"
           id="naturalPersonBornAt" name="naturalPersonBornAt"
           aria-describedby="naturalPersonBornAtFeedback"
           aria-label="Дата рождения">
    <div id="naturalPersonBornAtFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonPlaceOfBirth" class="form-label">Место рождения</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="naturalPersonPlaceOfBirth" name="naturalPersonPlaceOfBirth"
           aria-describedby="naturalPersonPlaceOfBirthFeedback"
           aria-label="Место рождения">
    <div id="naturalPersonPlaceOfBirthFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
