<div class="row">
  <div class="col-md-3"><label for="fullName" class="form-label">ФИО</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="fullName" name="fullName"
           aria-describedby="fullNameFeedback"
           aria-label="ФИО">
    <div id="fullNameFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
