{% extends '_modal.html.twig' %}

{% block modalbody %}
  <form
      data-action-clarify-contact="{{ path('natural_person_clarify_contact', {'id': '{id}'})|url_decode }}">
    <div class="container">
      {% include('natural_person/_form_natural_person_contact.html.twig') %}
    </div>
    <input type="hidden" id="token" name="token" value="{{ csrf_token('natural_person') }}">
    {% include '_form_buttons.html.twig' %}
  </form>
{% endblock %}
