<div class="row">
  <div class="col-md-3"><label for="naturalPersonDeceasedDiedAt" class="form-label">Дата смерти</label></div>
  <div class="col-md-9">
    <input type="date" class="form-control form-control-sm"
           id="naturalPersonDeceasedDiedAt" name="naturalPersonDeceasedDiedAt"
           aria-describedby="naturalPersonDeceasedDiedAtFeedback"
           aria-label="Дата смерти">
    <div id="naturalPersonDeceasedDiedAtFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonDeceasedAge" class="form-label">Возраст</label></div>
  <div class="col-md-9">
    <input type="number" min="0" class="form-control form-control-sm"
           id="naturalPersonDeceasedAge" name="naturalPersonDeceasedAge"
           aria-describedby="naturalPersonDeceasedAgeFeedback"
           aria-label="Возраст">
    <div id="naturalPersonDeceasedAgeFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonDeceasedCauseOfDeathId" class="form-label">Причина смерти</label></div>
  <div class="col-md-9">
    <select class="form-select form-select-sm"
            id="naturalPersonDeceasedCauseOfDeathId" name="naturalPersonDeceasedCauseOfDeathId"
            aria-describedby="naturalPersonDeceasedCauseOfDeathIdFeedback"
            aria-label="Причина смерти">
      <option selected></option>
      {% for listItem in causeOfDeathList.items %}
        <option value="{{ listItem.id }}">
          {{ listItem.name }}
        </option>
      {% endfor %}
    </select>
    <div id="naturalPersonDeceasedCauseOfDeathIdFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonDeceasedDeathCertificate" class="form-label">Свидетельство о смерти</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="naturalPersonDeceasedDeathCertificate" name="naturalPersonDeceasedDeathCertificate"
           aria-describedby="naturalPersonDeceasedDeathCertificateFeedback"
           aria-label="Свидетельство о смерти">
    <div id="naturalPersonDeceasedDeathCertificateFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonDeceasedCremationCertificate" class="form-label">Справка о кремации</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="naturalPersonDeceasedCremationCertificate" name="naturalPersonDeceasedCremationCertificate"
           aria-describedby="naturalPersonDeceasedCremationCertificateFeedback"
           aria-label="Справка о кремации">
    <div id="naturalPersonDeceasedCremationCertificateFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
