<div class="row">
  <div class="col-md-3"><label for="naturalPersonAddress" class="form-label">Адрес</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="naturalPersonAddress" name="naturalPersonAddress"
           aria-describedby="naturalPersonAddressFeedback"
           aria-label="Адрес">
    <div id="naturalPersonAddressFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonPhone" class="form-label">Телефон</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="naturalPersonPhone" name="naturalPersonPhone"
           aria-describedby="naturalPersonPhoneFeedback"
           aria-label="Телефон">
    <div id="naturalPersonPhoneFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonPhoneAdditional" class="form-label">Доп. телефон</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="naturalPersonPhoneAdditional" name="naturalPersonPhoneAdditional"
           aria-describedby="naturalPersonPhoneAdditionalFeedback"
           aria-label="Дополнительный телефон">
    <div id="naturalPersonPhoneAdditionalFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"><label for="naturalPersonEmail" class="form-label">Эл. почта</label></div>
  <div class="col-md-9">
    <input type="email" class="form-control form-control-sm"
           id="naturalPersonEmail" name="naturalPersonEmail"
           aria-describedby="naturalPersonEmailFeedback"
           aria-label="Электронная почта">
    <div id="naturalPersonEmailFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
