<div class="modal fade" id="modalCauseOfDeath" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCauseOfDeathLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCauseOfDeathLabel"></h5>
        <button type="button" class="btn-close js-close" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">



        <form
            data-action-new="{{ path('admin_cause_of_death_create') }}"
            data-action-edit="{{ path('admin_cause_of_death_edit', {'id': '{id}'})|url_decode }}"
            data-action-remove="{{ path('admin_cause_of_death_remove', {'id': '{id}'})|url_decode }}">
          <div class="container">
            <div class="row">
              <div class="col-md-3 text-start"><label for="name" class="form-label">Наименование</label></div>
              <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="name" name="name"></div>
            </div>
          </div>



          <div class="container">
            <input type="hidden" id="_csrf_token" name="_csrf_token">
            <div class="row pt-3 text-end">
              <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
                <div class="order-2 order-sm-1 d-none js-remove-wrapper">
                  <button type="button" class="btn btn-danger btn-sm justify-content-md-start js-remove" aria-label="Удалить">Удалить</button>
                </div>
                <div class="order-1 order-sm-2">
                  <button type="button" class="btn btn-warning btn-sm js-save-and-close" aria-label="Записать и закрыть">Записать и закрыть</button>
                  <button type="button" class="btn btn-secondary btn-sm js-save" aria-label="Записать">Записать</button>
                  <button type="button" class="btn btn-secondary btn-sm js-close" aria-label="Закрыть">Закрыть</button>
                </div>
              </div>
              <p class="mt-2 mb-0 text-muted d-none timestamps js-timestamps">Создано: 20.01.2022 14:23, изменено: 22.02.2022 07:30</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
