<div class="modal fade" id="modalCauseOfDeath" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalCauseOfDeathLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalCauseOfDeathLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        <form action="{{ path('admin_cause_of_death_new') }}" method="post" name="create-cause-of-death">
          <div class="container">
            <div class="row">
              <div class="col-md-3 text-start"><label for="name" class="form-label">Наименование</label></div>
              <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="name" name="name"></div>
            </div>
          </div>
          <div class="container">
            <div class="row pt-3 text-end">
              <div class="col-12 d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-warning btn-sm" aria-label="Записать и закрыть">Записать и закрыть</button>
                <button type="submit" class="btn btn-secondary btn-sm disabled" aria-label="Записать">Записать</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" aria-label="Закрыть">Закрыть</button>
              </div>
              <p class="mt-2 mb-0 text-muted d-none timestamps js-timestamps">Создано: 20.01.2022 14:23, изменено: 22.02.2022 07:30</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
