{% extends 'base.html.twig' %}

{% block title %}Админка - Причины смерти{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="mb-2 mb-lg-2">
    <p class="pt-2 fs-5 fw-bold text-success">Причины смерти <span class="text-muted fw-normal fs-6">({{ causeOfDeathTotalCount }})</span></p>

    {% include 'admin/cause_of_death/_toolbar.html.twig' %}

    <div class="table-responsive">
      <table class="table table-sm table-hover caption-top">
        <thead class="table-light align-middle">
          <tr>
            <th>Наименование</th>
          </tr>
        </thead>
        <tbody>
          {% for listItem in causeOfDeathList.listItems %}
            {% include 'admin/cause_of_death/_list_item.html.twig' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{#  {% include 'admin/cause_of_death/_modal_cause_of_death_new.html.twig' %}#}

{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  <link href="/css/cause-of-death-form.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="/js/cause-of-death-form.js"></script>
{% endblock %}
