{% extends '_modal.html.twig' %}

{% block modalbody %}
  <div
      class="card border border-0"
      data-action-show="{{ path('admin_grave_site_show', {'id': '{id}'})|url_decode }}"
      data-action-remove="{{ path('admin_grave_site_remove', {'id': '{id}'})|url_decode }}">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4"><strong>Расположение:</strong></div>
        <div class="col-sm-8"><p class="js-location"></p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><strong>Размер:</strong></div>
        <div class="col-sm-8"><p class="js-size"></p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><strong>Геопозиция:</strong></div>
        <div class="col-sm-8"><p class="js-geo-position"></p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><strong>Ответственный:</strong></div>
        <div class="col-sm-8"><p class="js-person-in-charge"></div>
      </div>
    </div>
    <input type="hidden" id="token" name="token" value="{{ csrf_token('grave_site') }}">
    {% include '_card_buttons.html.twig' %}
    {% include '_card_footer.html.twig' %}
  </div>
{% endblock %}

{% set actionlist %}
  <li class="dropdown-item js-clarify-location">Уточнить расположение</li>
  <li class="dropdown-item js-clarify-size">Уточнить данные о размере</li>
  <li class="dropdown-item js-clarify-geo-position">Уточнить данные геопозиции</li>
  <li class="dropdown-item js-assign-person-in-charge">Назначить ответственного</li>
  <li class="dropdown-item js-clarify-person-in-charge">Уточнить данные ответственного</li>
  <li class="dropdown-item js-replace-person-in-charge">Заменить ответственного</li>
  <li><hr class="dropdown-divider"></li>
  <li class="dropdown-item text-danger js-clear-size">Очистить данные о размере</li>
  <li class="dropdown-item text-danger js-clear-geo-position">Очистить данные геопозиции</li>
  <li class="dropdown-item text-danger js-discard-person-in-charge">Удалить ответственного</li>
{% endset %}
