{% extends '_modal.html.twig' %}

{% block modalbody %}
  <div
      class="card border border-0"
      data-action-show="{{ path('admin_grave_site_show', {'id': '{id}'})|url_decode }}"
      data-action-edit="{{ path('admin_grave_site_edit', {'id': '{id}'})|url_decode }}"
      data-action-remove="{{ path('admin_grave_site_remove', {'id': '{id}'})|url_decode }}">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4"><strong>Расположение:</strong></div>
        <div class="col-sm-8"><p class="js-location"></p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><strong>Размер:</strong></div>
        <div class="col-sm-8"><p class="js-size"></p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><strong>Геопозиция:</strong></div>
        <div class="col-sm-8"><p class="js-geo-position"></p></div>
      </div>
      <div class="row">
        <div class="col-sm-4"><strong>Ответственный:</strong></div>
        <div class="col-sm-8"><p class="js-person-in-charge"></div>
      </div>
    </div>
    <input type="hidden" id="token" name="token" value="{{ csrf_token('grave_site') }}">
    {% include '_card_buttons.html.twig' %}
  </div>
{% endblock %}

{% set actionlist %}
  <li class="dropdown-item">Уточнить расположение</li>
  <li class="dropdown-item">Уточнить размер</li>
  <li class="dropdown-item">Уточнить геопозицию</li>
  <li class="dropdown-item">Назначить ответственного</li>
  <li class="dropdown-item">Исправить ФИО ответственного</li>
  <li class="dropdown-item">Заменить ответственного</li>
  <li><hr class="dropdown-divider"></li>
  <li class="dropdown-item text-danger">Удалить размер</li>
  <li class="dropdown-item text-danger">Удалить геопозицию</li>
  <li class="dropdown-item text-danger">Удалить ответственного</li>
{% endset %}
