{% extends '_modal.html.twig' %}

{% block modalbody %}
  <form
      data-action-clarify-size="{{ path('admin_grave_site_clarify_size', {'id': '{id}'})|url_decode }}">
    <div class="container">
      {% include('admin/burial_place/grave_site/_form_grave_site_size.html.twig') %}
    </div>
    <input type="hidden" id="token" name="token" value="{{ csrf_token('grave_site') }}">
    {% include '_form_buttons.html.twig' %}
  </form>
{% endblock %}
