<div class="row">
  <div class="col-md-3"><label for="personInCharge" class="form-label">Ответственный</label></div>
  <div class="col-md-9">
    <select
        id="personInCharge" name="personInCharge"
        aria-describedby="personInChargeFeedback"
        aria-label="Ответственный">
    </select>
    <div id="personInChargeFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
