<div class="row">
  <div class="col-md-3"><label for="geoPosition" class="form-label">Геопозиция</label></div>
  <div class="col-md-9">
    <input type="text" class="form-control form-control-sm"
           id="geoPosition" name="geoPosition"
           aria-describedby="geoPositionFeedback"
           aria-label="Геопозиция">
    <label for="geoPositionError" class="form-label d-none">Ошибка геопозиции</label>
    <input type="text" class="form-control form-control-sm d-none"
           id="geoPositionError" name="geoPositionError">
    <div id="geoPositionFeedback" class="invalid-feedback d-none"></div>
  </div>
</div>
