{% extends '_modal.html.twig' %}

{% block modalbody %}
  <form
      data-action-clarify-size="{{ path('admin_grave_site_clarify_size', {'id': '{id}'})|url_decode }}">
    <div class="container">
      <div class="row">
        <div class="col-md-3"><label for="size" class="form-label">Размер, м<sup>2</sup></label></div>
        <div class="col-md-9">
          <input type="number" min=0.1 step="0.1" class="form-control form-control-sm"
                 id="size" name="size"
                 aria-describedby="sizeFeedback"
                 aria-label="Размер">
          <div id="sizeFeedback" class="invalid-feedback d-none"></div>
        </div>
      </div>
    </div>
    <input type="hidden" id="token" name="token" value="{{ csrf_token('grave_site') }}">
    {% include '_form_buttons.html.twig' %}
  </form>
{% endblock %}
