{% extends '_modal.html.twig' %}

{% block modalbody %}
  <form data-action-new="{{ path('admin_grave_site_create') }}">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-start"><label for="cemeteryBlockId" class="form-label">Квартал</label></div>
        <div class="col-md-9">
          <select class="form-select form-select-sm"
                  id="cemeteryBlockId" name="cemeteryBlockId"
                  aria-describedby="cemeteryBlockIdFeedback"
                  aria-label="Квартал">
            <option selected>
            {% for listItem in cemeteryBlockList.items %}
              <option value="{{ listItem.id }}">
                {{- listItem.name -}}
              </option>
            {% endfor %}
          </select>
          <div id="cemeteryBlockIdFeedback" class="invalid-feedback d-none"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><label for="rowInBlock" class="form-label">Ряд</label></div>
        <div class="col-md-9">
          <input type="number" min="1" class="form-control form-control-sm"
                 id="rowInBlock" name="rowInBlock"
                 aria-describedby="rowInBlockFeedback"
                 aria-label="Ряд">
          <div id="rowInBlockFeedback" class="invalid-feedback d-none"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><label for="positionInRow" class="form-label">Место</label></div>
        <div class="col-md-9">
          <input type="number" min="1" class="form-control form-control-sm"
                 id="positionInRow" name="positionInRow"
                 aria-describedby="positionInRowFeedback"
                 aria-label="Место">
          <div id="positionInRowFeedback" class="invalid-feedback d-none"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><label for="size" class="form-label">Размер</label></div>
        <div class="col-md-9">
          <input type="number" min=0.1 step="0.1" class="form-control form-control-sm"
                 id="size" name="size"
                 aria-describedby="sizeFeedback"
                 aria-label="Размер">
          <div id="sizeFeedback" class="invalid-feedback d-none"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"><label for="geoPosition" class="form-label">Геопозиция</label></div>
        <div class="col-md-9">
          <input type="text" class="form-control form-control-sm"
                 id="geoPosition" name="geoPosition"
                 aria-describedby="geoPositionFeedback"
                 aria-label="Геопозиция">
          <label for="geoPositionError" class="form-label d-none">Ошибка геопозиции</label>
          <input type="text" class="form-control form-control-sm d-none"
                 id="geoPositionError" name="geoPositionError">
          <div id="geoPositionFeedback" class="invalid-feedback d-none"></div>
        </div>
      </div>
    </div>
    <input type="hidden" id="token" name="token" value="{{ csrf_token('grave_site') }}">
    {% include '_form_new_buttons.html.twig' %}
  </form>
{% endblock %}
