{% extends 'base.html.twig' %}

{% block title %}Админка - Участки на кладбище{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="row">
    <div class="col-md-3 border-end pe-5">
      <p class="pt-2 fs-5 fw-bold text-success">Кварталы <span class="text-muted fw-normal fs-6">({{ cemeteryBlockTotalCount }})</span></p>

      {% include 'admin/burial_place/grave_site/_toolbar_cemetery_block.html.twig' %}

      <div class="table-responsive">
        <table class="table table-sm table-hover caption-top" id="cemeteryBlockList">
          <thead class="table-light align-middle">
            <tr>
              <th>Наименование</th>
            </tr>
          </thead>
          <tbody>
          {% for listItem in cemeteryBlockList.items %}
            {% include 'admin/burial_place/grave_site/_list_item_cemetery_block.html.twig' %}
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-9">
      <div class="mb-2 mb-lg-2">
        <p class="pt-2 fs-5 fw-bold text-success">Участки <span class="text-muted fw-normal fs-6">({{ totalCount }})</span></p>

        {% include 'admin/burial_place/grave_site/_toolbar.html.twig' %}

        <div class="table-responsive">
          <table class="table table-sm table-hover caption-top" id="graveSiteList">
            <thead class="table-light align-middle">
              <tr>
                <th>Квартал</th>
                <th>Ряд</th>
                <th>Место</th>
                <th>Размер, м<sup>2</sup></th>
                <th>Ответственный</th>
              </tr>
            </thead>
            <tbody>
            {% for listItem in list.items %}
              {% include 'admin/burial_place/grave_site/_list_item.html.twig' %}
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% include 'admin/burial_place/grave_site/_modal.html.twig' with {'context': 'GraveSite'} %}
  {% include 'admin/burial_place/grave_site/_modal_cemetery_block.html.twig' with {'context': 'CemeteryBlock'} %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="/js/admin/burial-place/grave-site/grave-site.js"></script>
  <script src="/js/admin/burial-place/grave-site/cemetery-block.js"></script>
{% endblock %}
