{% extends 'base.html.twig' %}

{% block title %}Админка - Памятные деревья{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="mb-2 mb-lg-2">
    <p class="pt-2 fs-5 fw-bold text-success">Памятные деревья <span class="text-muted fw-normal fs-6">({{ totalCount }})</span></p>

    {% include 'admin/burial_place/memorial_tree/_toolbar_memorial_tree.html.twig' %}

    <div class="table-responsive">
      <table class="table table-sm table-hover caption-top">
        <thead class="table-light align-middle">
        <tr>
          <th>Номер</th>
          <th>Ответственный</th>
        </tr>
        </thead>
        <tbody>
        {% for listItem in list.items %}
          {% include 'admin/burial_place/memorial_tree/_list_item_memorial_tree.html.twig' %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{#  {% include 'admin/burial_place/memorial_tree/_form_memorial_tree.html.twig' with {'context': 'MemorialTree'} %}#}

{% endblock %}

{% block javascripts %}
  {{ parent() }}

{#  <script src="/js/admin/burial-place/memorial-tree/memorial-tree.js"></script>#}
{% endblock %}
