<div class="row">
  <div class="col-md-3"><label for="funeralCompanyId" class="form-label">Похоронная фирма</label></div>
  <div class="col-md-9">
    <select class="form-select form-select-sm" id="funeralCompanyId" name="funeralCompanyId" aria-label="Похоронная фирма">
      <option selected></option>
      {% for listItem in funeralCompanyList.listItems %}
        <option value="{{ listItem.id }}">
          {%- if listItem.organizationType == constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\JuristicPerson\\JuristicPerson::CLASS_SHORTCUT') -%}
            {{ listItem.organizationJuristicPersonName }}
          {%- elseif listItem.organizationType == constant('Cemetery\\Registrar\\Domain\\Model\\Organization\\SoleProprietor\\SoleProprietor::CLASS_SHORTCUT') -%}
            {{ listItem.organizationSoleProprietorName }}
          {%- endif -%}
        </option>
      {% endfor %}
    </select>
  </div>
</div>
