<div class="modal fade" id="registerBurialModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="registerBurialModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerBurialModalLabel">Создание захоронения</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body pt-2">
        <ul class="nav nav-tabs" id="modalBurialMainTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="modal-burial-home-tab" data-bs-toggle="tab" data-bs-target="#modal-burial-home-content" type="button" role="tab" aria-controls="modal-burial-home-content" aria-selected="true">
              <span>Основная</span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link disabled" id="modal-burial-geo-position-tab" data-bs-toggle="tab" data-bs-target="#modal-burial-geo-position-content" type="button" role="tab" tabindex="-1" aria-controls="modal-burial-geo-position-content" aria-selected="false">
              <span>Геопозиция</span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link disabled" id="modal-burial-reminders-tab" data-bs-toggle="tab" data-bs-target="#modal-burial-reminders-content" type="button" role="tab" tabindex="-1" aria-controls="modal-burial-reminders-content" aria-selected="false">
              <span>Напоминания</span>
            </button>
          </li>
        </ul>
        <form class="tab-content" id="modalBurialMainTabContent" action="{{ path('burial_new') }}" method="post" name="register-burial">
          <div class="container tab-pane fade show active" id="modal-burial-home-content" role="tabpanel" aria-labelledby="modal-burial-home-tab">
            <div class="row">
              <div class="col-md-6 px-0 card">
                <div class="card-body pb-0">
                  <h5 class="card-title text-success">Информация об умершем</h5>
                  {% include 'deceased/_subform.html.twig' %}
                </div>
              </div>
              <div class="col-md-6 px-0 card">
                <ul class="nav nav-tabs pt-2 me-3" id="modalBurialCustomerTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link py-1 active" id="modal-burial-customer-tab" data-bs-toggle="tab" data-bs-target="#modal-burial-customer-content" type="button" role="tab" aria-controls="modal-burial-customer-content" aria-selected="true">
                      <span class="fs-5 text-success modal-burial-customer-tab-header">Заказчик</span>
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link py-1" id="modal-burial-person-in-charge-tab" data-bs-toggle="tab" data-bs-target="#modal-burial-person-in-charge-content" type="button" role="tab" tabindex="-1" aria-controls="modal-burial-person-in-charge-content" aria-selected="false">
                      <span class="fs-5 text-success modal-burial-customer-tab-header">Ответственный</span>
                    </button>
                  </li>
                </ul>
                <div class="tab-content me-3" id="modalBurialCustomerTabContent">
                  <div class="tab-pane fade show active" id="modal-burial-customer-content" role="tabpanel" aria-labelledby="modal-burial-customer-tab">
                    <div class="container px-3 pt-2">
                      {% include 'burial/_customer_type_selector.html.twig' %}
                      {% include 'natural_person/_subform.html.twig' with {'context': 'customerNaturalPerson'} %}
                      {% include 'organization/juristic_person/_subform.html.twig' with {'context': 'customerJuristicPerson'} %}
                      {% include 'organization/sole_proprietor/_subform.html.twig' with {'context': 'customerSoleProprietor'} %}
                    </div>
                  </div>
                  <div class="tab-pane fade" id="modal-burial-person-in-charge-content" role="tabpanel" aria-labelledby="modal-burial-person-in-charge-tab">
                    <div class="container px-3 pt-2">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" id="personInChargeIsSameAsCustomer" name="personInChargeIsSameAsCustomer">
                            <label class="form-check-label" for="personInChargeIsSameAsCustomer">Совпадает с заказчиком</label>
                          </div>
                        </div>
                        {% include 'natural_person/_subform.html.twig' with {'context': 'personInCharge'} %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row card">
              <div class="card-body pb-0">
                <h5 class="card-title text-success">Захоронение</h5>
                <div class="row">
                  <div class="col-md-6">
                    {% include 'burial/_funeral_company_selector.html.twig' %}
                    <div class="row">
                      <div class="col-md-3"><label for="buriedAt" class="form-label">Дата и время захоронения</label></div>
                      <div class="col-md-9"><input type="datetime-local" class="form-control form-control-sm" id="buriedAt" name="buriedAt"></div>
                    </div>
                    <div class="row d-none">
                      <div class="col-md-3"><label for="burialPlaceType" class="form-label">Тип места захоронения</label></div>
                      <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="burialPlaceType" name="burialPlaceType" value="GRAVE_SITE"></div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        {% include 'burial_place/grave_site/_cemetery_block_selector.html.twig' %}
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-md-3"><label for="burialPlaceGraveSiteRowInBlock" class="form-label">Ряд</label></div>
                          <div class="col-md-9"><input type="number" min="1" class="form-control form-control-sm" id="burialPlaceGraveSiteRowInBlock" name="burialPlaceGraveSiteRowInBlock"></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="row">
                          <div class="col-md-3"><label for="burialPlaceGraveSitePositionInRow" class="form-label">Место</label></div>
                          <div class="col-md-9"><input type="number" min="1" class="form-control form-control-sm" id="burialPlaceGraveSitePositionInRow" name="burialPlaceGraveSitePositionInRow"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3"><label for="burialPlaceGeoPosition" class="form-label">Геопозиция</label></div>
                      <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="burialPlaceGeoPosition" name="burialPlaceGeoPosition"></div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row d-none">
                      <div class="col-md-3"><label for="burialContainerType" class="form-label">Тип контейнера захоронения</label></div>
                      <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="burialContainerType" name="burialContainerType" value="COFFIN"></div>
                    </div>
                    {% include 'burial/_coffin_shape_selector.html.twig' %}
                    <div class="row">
                      <div class="col-md-3"><label for="burialContainerCoffinSize" class="form-label">Размер гроба</label></div>
                      <div class="col-md-9"><input type="number" min="165" max="225" class="form-control form-control-sm" id="burialContainerCoffinSize" name="burialContainerCoffinSize"></div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="true" id="burialContainerCoffinIsNonStandard" name="burialContainerCoffinIsNonStandard">
                          <label class="form-check-label" for="burialContainerCoffinIsNonStandard">Нестандарт</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container tab-pane fade d-none" id="modal-burial-geo-position-content" role="tabpanel" aria-labelledby="modal-burial-geo-position-tab">...</div>
          <div class="container tab-pane fade d-none" id="modal-burial-reminders-content" role="tabpanel" aria-labelledby="modal-burial-reminders-tab">...</div>

          <div class="container">
            <div class="row pt-3 text-end">
              <div class="col-12">
                <button type="submit" class="btn btn-warning btn-sm" aria-label="Записать и закрыть">Записать и закрыть</button>
                <button type="submit" class="btn btn-secondary btn-sm disabled" aria-label="Записать">Записать</button>
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal" aria-label="Закрыть">Закрыть</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
