<div class="d-flex pb-2">
  <div class="flex-grow-1">
    <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#registerBurialModal" aria-label="Создать">Создать</button>
    <button type="button" class="btn btn-outline-primary btn-sm disabled" aria-label="Создать группу">Создать группу</button>
    <button type="button" class="btn btn-outline-primary btn-sm disabled" aria-label="Скопировать"><i class="bi-file-earmark-plus"></i></button>
    <button type="button" class="btn btn-outline-primary btn-sm disabled" aria-label="Групповая печать копщику">
      <i class="bi-printer"></i> Групповая печать копщику</button>
  </div>

  {#      <form class="burial-search col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">#}
  {#        <input type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Поиск">#}
  {#      </form>#}
  {#      <div class="text-end">#}
  {#        <div class="btn dropdown">#}
  {#          <a class="dropdown-toggle text-decoration-none" href="#" id="dropdownMore" data-bs-toggle="dropdown" aria-expanded="false">Еще</a>#}
  {#          <ul class="dropdown-menu" aria-labelledby="dropdownMore">#}
  {#            <li><a class="dropdown-item disabled" href="#">Пункт 1</a></li>#}
  {#            <li><a class="dropdown-item disabled" href="#">Пункт 2</a></li>#}
  {#          </ul>#}
  {#        </div>#}
  {#      </div>#}
</div>
