{% extends 'base.html.twig' %}

{% block title %}Захоронения{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="mb-2 mb-lg-2">
    <p class="pt-2 fs-5 fw-bold text-success">Захоронения <span class="text-muted fw-normal fs-6">({{ burialTotalCount }})</span></p>

    {% include 'burial/_toolbar.html.twig' %}

    <div class="table-responsive">
      <table class="table table-sm table-hover caption-top">
        <thead class="table-light align-middle">
          <tr>
            <th>Ф.И.О.</th>
            <th>Код</th>
            <th>Дата рождения</th>
            <th>Дата смерти</th>
            <th>Дата и время захоронения</th>
            <th>Возраст</th>
            <th>Место захоронения</th>
            <th>Заказчик</th>
            <th>Адрес заказчика</th>
            <th>Телефон заказчика</th>
          </tr>
        </thead>
        <tbody>
          {% for listItem in burialList.items %}
            {% include 'burial/_list_item.html.twig' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'burial/_modal_burial.html.twig' %}

{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  <link href="/css/burial.css" rel="stylesheet">
  <link href="/css/burial-form.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="/js/burial.js"></script>
  <script src="/js/burial-form.js"></script>
{% endblock %}
