{% extends 'base.html.twig' %}

{% block title %}Админка - Похоронные фирмы{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="mb-2 mb-lg-2">
    <p class="pt-2 fs-5 fw-bold text-success">Похоронные фирмы ({{ funeralCompanyTotalCount }})</p>

    {% include 'admin/funeral_company/_toolbar.html.twig' %}

    <div class="table-responsive">
      <table class="table table-sm table-hover caption-top">
        <thead class="table-light align-middle">
          <tr>
            <th>Наименование</th>
            <th>ИНН</th>
            <th>Адрес</th>
            <th>Телефон</th>
            <th>Примечание</th>
          </tr>
        </thead>
        <tbody>
          {% for listItem in funeralCompanyViewList.listItems %}
            {% include 'admin/funeral_company/_funeral_company_view_list_item.html.twig' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{#  {% include 'admin/funeral_company/_modal_funeral_company_new.html.twig' %}#}

{% endblock %}

{% block stylesheets %}
  {{ parent() }}

  <link href="/css/funeral-company-form.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="/js/funeral-company-form.js"></script>
{% endblock %}
