{% extends 'base.html.twig' %}

{% block title %}Админка - Физлица{% endblock %}

{% block body %}
  {{ parent() }}

  <div class="mb-2 mb-lg-2">
    <p class="pt-2 fs-5 fw-bold text-success">Физлица <span class="text-muted fw-normal fs-6">({{ totalCount }})</span></p>

    {% include 'admin/natural_person/_natural_person_toolbar.html.twig' %}

    <div class="table-responsive">
      <table class="table table-sm table-hover caption-top" id="naturalPersonList">
        <thead class="table-light align-middle">
          <tr>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Адрес</th>
            <th>Эл. почта</th>
            <th>Дата рождения</th>
            <th>Место рождения</th>
            <th>Паспорт</th>
            <th>Дата смерти</th>
            <th>Возраст</th>
            <th>Причина смерти</th>
            <th>Свидетельство о смерти</th>
            <th>Справка о кремации</th>
          </tr>
        </thead>
        <tbody>
          {% for listItem in list.items %}
            {% include 'admin/natural_person/_natural_person_paginated_list_item.html.twig' %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'natural_person/_form_new_natural_person.html.twig' with {'context': 'NaturalPersonFormNew'} %}
  {% include 'natural_person/_card_natural_person.html.twig' with {'context': 'NaturalPersonCard'} %}
  {% include 'natural_person/_form_natural_person_full_name_clarify.html.twig' with {'context': 'NaturalPersonFormClarifyFullName'} %}
  {% include 'natural_person/_form_natural_person_contact_clarify.html.twig' with {'context': 'NaturalPersonFormClarifyContact'} %}
  {% include 'natural_person/_form_natural_person_birth_details_clarify.html.twig' with {'context': 'NaturalPersonFormClarifyBirthDetails'} %}
  {% include 'natural_person/_form_natural_person_passport_clarify.html.twig' with {'context': 'NaturalPersonFormClarifyPassport'} %}

{% endblock %}

{% block javascripts %}
  {{ parent() }}

  <script src="/js/admin/natural-person/natural-person-paginated-list.js"></script>
  <script src="/js/admin/natural-person/natural-person-form-new.js"></script>
  <script src="/js/admin/natural-person/natural-person-card.js"></script>
  <script src="/js/admin/natural-person/natural-person-form-clarify-full-name.js"></script>
  <script src="/js/admin/natural-person/natural-person-form-clarify-contact.js"></script>
  <script src="/js/admin/natural-person/natural-person-form-clarify-birth-details.js"></script>
  <script src="/js/admin/natural-person/natural-person-form-clarify-passport.js"></script>
{% endblock %}
