<div class="row d-none">
  <div class="col-md-3"><label for="type" class="form-label">Тип захоронения</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="type" name="type" value="COFFIN_IN_GRAVE_SITE"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="deceasedNaturalPersonFullName" class="form-label">ФИО</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="deceasedNaturalPersonFullName" name="deceasedNaturalPersonFullName"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="deceasedNaturalPersonBornAt" class="form-label">Дата рождения</label></div>
  <div class="col-md-9"><input type="date" class="form-control form-control-sm" id="deceasedNaturalPersonBornAt" name="deceasedNaturalPersonBornAt"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="deceasedDiedAt" class="form-label">Дата смерти</label></div>
  <div class="col-md-9"><input type="date" class="form-control form-control-sm" id="deceasedDiedAt" name="deceasedDiedAt"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="deceasedAge" class="form-label">Возраст</label></div>
  <div class="col-md-9"><input type="number" min="0" class="form-control form-control-sm" id="deceasedAge" name="deceasedAge"></div>
</div>
<div class="row">
  <div class="col-md-3"><label for="deceasedDeathCertificateId" class="form-label">Свид. о смерти</label></div>
  <div class="col-md-9"><input type="text" class="form-control form-control-sm" id="deceasedDeathCertificateId" name="deceasedDeathCertificateId"></div>
</div>
{% include 'deceased/_cause_of_death_selector.html.twig' %}
